*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
	--bg-color: #EBF3FC;
	--bg-color2: #EEF6FF;
	justify-content: space-between;
    background-color: var(--bg-color);
    font-family: sans-serif;
    text-align: center;
}
header{
	flex: 2;
	width: 100vw;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.lang{
    color: gray;
    top: 2vh;
    text-align: center;
    display: flex;
    font-size: 13px;
    position: absolute;
    margin: auto;
}
.facebook img{
	width: clamp(60px, 20vw, 85px);
	margin-top: 2vh;
}
form{
	display: flex;
	flex-direction: column;
	flex: 3;
	max-height: 250px;
	width: clamp(16px, 70vw, 500px);
	justify-content: space-evenly;
}
input{
    border-radius: 10px;
    border: 1px solid gray;
    padding: clamp(12px, 3vh, 16px);
}
button{
	padding: 10px;
	border-radius: 40px;
}
.submit{
    background: #0064E0;
    color: white;
    border: 1px solid transparent;
    font-size: 17px;
    margin-bottom: 2vh;
}
.ccn{
    background: transparent;
    border: 1px solid black;
}
a{
    color: #040404;
    font-size: clamp(13px, 1vw, 18px);
}
.meta{
    height: 16px;
    width: 75px;
}
footer{
	flex: 1;
	display: flex;
	padding: 10px;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
@media (min-width: 1024px){
	.facebook img{
		width: clamp(150px, 22vw, 440px);
	}
	.lang{
		display: none;
	}
	form{
		background-color: var(--bg-color2);
		box-sizing: content-box;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px #04050633;
	}
}
